body {
    background-color: rgb(255, 250, 235);
    min-height: 100vh;
}

hr {
    color: black;
    background-color: black;
    width: 70%;
    height: 1px;
    margin: 0 auto;
}

#nav {
    background-color: rgb(255, 250, 235);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#sectionBg {
    background-image: url(assets/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#box h1 {
    font-size: 3.5rem;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

.navbar-burger {
    transform: scale(1.4);
}

#searchBar {
    width: 45vw;
    /* margin: 0 auto;*/
    /* display: flex; */
    /* justify-content: center; */
}

#searchBarHolder {
    display: flex;
    justify-content: center;
}

#categoryDrop {
    /* margin: 0 auto; */
    width: 60vw;
}

.select {
    display: flex;
    justify-content: center;
    width: 60vw;
    margin: 0 auto;
}

#footer {
    background: rgb(61, 61, 61);
    height: 200px;
    background: linear-gradient(326deg, rgba(61, 61, 61, 1) 35%, rgba(34, 34, 34, 1) 100%);
    color: white;
    border-radius: 100px 0 0 0;
}

#footer a:hover{
    text-decoration: underline;
}

#mealOfInspiration {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hestiaSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80vw;
    margin: 50px auto;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    height: auto;
    border-radius: 20px;
    background-color: white;
}


#hestiaText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

#hestiaImage {
    display: flex;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    bottom: 0px;
    filter: drop-shadow(5px 5px 5px #666666);
}

#modal {
    max-width: 100%;
}

/* #aboutSection{
    background-image: url(https://i.pinimg.com/564x/65/61/3f/65613f4193880e42fc48a271c7114200.jpg);
    background-position: center center;
    background-repeat:  no-repeat;
    /* background-attachment: fixed; */
/* background-size:  cover; */
/*}  */

#aboutUsStrip {
    padding-bottom: 0;
    padding-top: 60px;
}

#aboutSection {
    padding-top: 40px;
}


/* #cardsDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Categories{
    display: flex;
    flex-direction: column;
    align-items: center;
} */


#moiColumns {
    display: flex;
    justify-content: center;
}

#moiContainer {
    width: 50%;
}


#moiImg {
    width: 80%;
}

@media screen and (max-width: 768px) {
    #moiImg {
        width: 100%;
    }

    #moiContainer {
        width: 100%;
    }

}

#mealOfInspiration {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1020px) {
    #hestiaSection {
        grid-template-columns: 1fr;
    }

    #hestiaImage {
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {

    #cardsDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #Categories {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}